<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite thread-count="1" verbose="1" name="Cicle Suite" annotations="JDK" parallel="tests">
         
  <test name="TS Board">
	 <classes>
	   <class name="bigprojectsekolahqa.TSBoardTest"/>
	 </classes>
   </test>
   
  <test name="TS Group Chat">
     <classes>
       <class name="bigprojectsekolahqa.TSGroupChatTest"/>
     </classes>
   </test>
   
   <test name="TS Schedule">
     <classes>
       <class name="bigprojectsekolahqa.TSScheduleTest"/>
     </classes>
   </test>
</suite>
   